.catalog-offer {
  margin: 0 auto;
}

.catalog-offer__wrapper-title {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.catalog-offer__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
  padding-top: 12px;
  padding-bottom: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.catalog-offer__list {
  padding: 0;
}

.catalog-offer__item-wrapper {
  display: flex;
}

.catalog-offer__link-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  color: #111111;
  display: inline-block;
  width: 80px;
  margin-top: 25px;
}

.catalog-offer__title-structure {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: #444444;
  margin-top: 15px;
}

.catalog-offer__title-structure td {
  padding-left: 50px;
}

.catalog-offer__title-structure th {
  font-weight: normal;
}

.catalog-offer__button {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  background-color: #68b738;
  font-size: 16px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

.catalog-offer__item {
  border-bottom: 1px solid #ededed;
}

.catalog-offer__img-show-all {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  opacity: 0.2;
}

.catalog-offer__item-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.catalog-offer__text-show-all {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .catalog-offer__title {
    border: none;
    font-size: 60px;
  }

  .catalog-offer__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
  }

  .catalog-offer__item-wrapper {
    display: block;
  }

  .catalog-offer__item {
    width: 240px;
    padding: 40px;
    border: none;
    background-color: #f2f2f2;
    position: relative;
    margin-top: 140px;

    &:nth-child(8) {
      background-color: white;
      border: 1px solid #f2f2f2;
    }
  }

  .main-offer__item-img {
    display: block;
    margin: 0 auto;
  }

  .catalog-offer__link-title {
    display: block;
    margin: 0 auto;
    width: 112px;
    font-size: 20px;
  }

  .catalog-offer__title-structure tbody tr {
    border-bottom: 1px solid red;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .catalog-offer__title-structure td {
    padding-left: 120px;
    text-align: right;
    border-bottom: 1px solid #bebebe;
  }

  .catalog-offer__title-structure th {
    border-bottom: 1px solid #bebebe;
  }

  .catalog-offer__title-structure {
    font-size: 16px;
    line-height: 1;
    color: #444444;
    margin-bottom: 33px;
    border-spacing: 0 10px;
  }

  .catalog-offer__img-show-all {
    margin-bottom: 50px;
    width: 61px;
    height: 61px;
    object-fit: contain;
    top: 0;
    left: 130px;
  }

  .catalog-offer__item-title {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-offer__text-show-all {
    font-size: 16px;
    line-height: normal;
    color: #444444;
    margin-bottom: 60px;
    margin-top: 56px;
  }

  .catalog-offer__item-info {
    margin-top: 20px;
  }

  .catalog-offer__item-wrapper-border {
    width: auto;
    margin-top: 100px;
  }

  .catalog-offer__wrapper-title {
    border: none;
  }

  .catalog-offer__img-link {
    position: absolute;
    top: -40px;
    left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-offer__item {
    width: 165px;
    height: 431px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .catalog-offer__title-structure td {
    padding-left: 50px;
    padding-bottom: 10px;
  }

  .catalog-offer__title-structure th {
    padding-bottom: 10px;
  }

  .main__item--show-all {
    font-size: 15px;
  }

  .catalog-offer__list {
    width: 1160px;
  }

  .catalog-offer__button {
    margin-bottom: 0;
  }

  .catalog-offer__link-title {
    font-size: 20px;
  }

  .catalog-offer__text-show-all {
    margin-top: 70px;
  }

  .catalog-offer__img-link {
    left: 13px;
  }

  .catalog-offer__img-show-all {
    top: 0;
    left: 90px;
  }

  .catalog-offer__item-wrapper-border {
    margin-top: 130px;
  }
}
