.extra-offer__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #111111;
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;
}

.extra-offer__items-list {
  padding: 0;
  margin: 0;
}

.extra-offer__item {
  border-bottom: 1px solid #ededed;
}

.extra-offer__item-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.extra-offer__wrapper-price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #444444;
  display: flex;
  justify-content: space-between;
}

.extra-offer__item-name {
  display: inline-block;
}

.extra-offer__item-price {
  display: inline-block;
}

.extra-offer__button {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  background-color: #68b738;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 14px;
}
