.extra-offer__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #111111;
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;
}

.extra-offer__items-list {
  padding: 0;
  margin: 0;
}

.extra-offer__item {
  border-bottom: 1px solid #ededed;
}

.extra-offer__item-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.extra-offer__wrapper-price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #444444;
  display: flex;
  justify-content: space-between;
}

.extra-offer__item-name {
  display: inline-block;
}

.extra-offer__item-price {
  display: inline-block;
}

.extra-offer__button {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  background-color: #68b738;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 14px;
}

@media (min-width: @tablet-width) {
 .extra-offer__item {
   border: 1px solid #ededed;
 }
  .extra-offer__item-wrapper {
    padding-left: 38px;
    padding-right: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .extra-offer__button {
    width: 633px;
    margin-left: auto;
    margin-right: auto;
  }

  .extra-offer__item-name {
    margin-right: 50px;
  }

  .extra-offer__title {
    border-bottom: none;
  }

  .extra-offer__items-list {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .extra-offer__items-list {
    width: 800px;
  }

  .extra-offer__item {
    display: flex;
    justify-content: space-between;
    border-left: none;
    border-right: none;
  }

  .extra-offer__button {
    width: 245px;
    margin-right: 0;
  }

  .extra-offer__item-wrapper {
    padding-left: 0;
    width: 600px;
  }

}
