.extra-offer {
  position: relative;
  margin-bottom: 40px;
}

.extra-offer__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #111111;
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;


  &--title-extra {
    border-bottom: 1px solid #bebebe;
  }
}


.extra-offer__items-list {
  padding: 0;
  margin: 0 auto;
}

.extra-offer__item {
  border-bottom: 1px solid #ededed;

  &--extra {
    border-bottom: 1px solid #bebebe;
  }
}

.extra-offer__item-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.extra-offer__wrapper-price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #444444;
  display: flex;
  justify-content: space-between;
}

.extra-offer__item-name {
  display: inline-block;
}

.extra-offer__item-price {
  display: inline-block;
}

.extra-offer__button {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  background-color: #68b738;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 14px;
}

.extra-offer__line {
  width: 100px;
  height: 3px;
  background-color: #68b738;
  position: absolute;
  top: 2%;
  left: 91%;
}

@media (min-width: @tablet-width) {
  .extra-offer__item {
    border: 1px solid #ededed;
  }

  .extra-offer__item-wrapper {
    padding-left: 38px;
    padding-right: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .extra-offer__button {
    width: 633px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .extra-offer__item-name {
    margin-right: 50px;
  }

  .extra-offer__title {
    border-bottom: none;
    font-size: 36px;
    position: absolute;
    top: -4%;
    left: 21%;
    background-color: white;
    width: 340px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .extra-offer__items-list {
    margin: 0 auto;
  }

  .extra-offer__line {
    position: static;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
  }

  .extra-offer__item-title {
    font-size: 20px;
  }

  .extra-offer__wrapper-price {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .extra-offer__items-list {
    width: 800px;
    margin: 0 auto;
    padding-right: 350px;
  }

  .extra-offer__item {
    display: flex;
    justify-content: space-between;
    border-left: none;
    border-right: none;
  }

  .extra-offer__button {
    width: 245px;
    margin-right: 0;
  }

  .extra-offer__item-wrapper {
    padding-left: 0;
    width: 600px;
  }

  .extra-offer__line {
    position: static;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
  }

  .extra-offer__title {
    position: absolute;
    top: -4%;
    left: 7%;
    background-color: white;
    width: 227px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
