.main-offer {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-position: center top;
  margin: 0 auto;
  padding-top: 30px;
}

.main-offer__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.main-offer__text {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.main-offer__button {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  background-color: #68b738;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.main-offer__img {
  display: block;
}

.main-offer__button--show-all {
  background-color: #f2f2f2;
  color: #444444;
}
