.main-programs__list {
  padding: 0;
  margin-top: 22px;
  position: relative;
}

.main-programs__item {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.main-programs__wrapper-title {
  display: flex;
  align-items: center;
}

.main-programs__ellipse {
  width: 50px;
  height: 51px;
  background-color: #68b738;
  border-radius: 50%;
}

.main-programs__img {
  display: block;
  margin: auto;
}

.main-programs__img--pro {
  display: block;
  margin: auto;
  margin-top: 12px;
  margin-left: -10px;
}

.main-programs__h3 {
  font-size: 24px;
  line-height: 1.54;
  color: #111111;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 20px;
}

.main-programs__text-item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: #444444;
  text-align: left;
  border-bottom: 1px solid rgba(95, 95, 95, 0.1);
  padding-bottom: 23px;
}

.main-programs__button img {
  margin-left: 12px;
}

@media (min-width: @tablet-width) {
  .main-programs__text-item {
    width: 375px;
    border-bottom: none;
  }

  .main-programs__ellipse {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 64%;
    top: 45px;
  }

  .main-programs__ellipse--pro {
    top: 320px;
  }

  .main-programs__img {
    width: 141px;
    height: 194px;
  }

  .main-programs__img--pro {
    width: 268px;
    height: 113px;
    margin-top: 40px;
    margin-left: -40px;
  }

  .main-programs__wrapper-title {
    margin-left: -20px;
  }

}

@media (min-width: @desktop-width) {
  .main-programs__list {
    display: flex;
    justify-content: space-between;
  }

  .main-programs__ellipse {
    position: static;
    width: 100px;
    height: 100px;
  }

  .main-programs__img {
    width: 71px;
    height: 97px;
  }

  .main-programs__img--pro {
    width: 134px;
    height: 57px;
    margin-top: 24px;
    margin-left: -24px;
  }

  .main-programs__item {
    padding: 50px;
    width: 450px;
  }

  .main-programs__wrapper-title {
    margin-left: 0;
  }

  .main-programs__h3 {
    font-size: 36px;
    line-height: 1.03;
  }

  .main-programs__text-item {
    font-size: 16px;
    line-height: 1.5;
  }

  .main-programs__button {
    font-size: 20px;
    line-height: 1
  }

  .main-programs__button img {
    margin-bottom: 2px;
  }
}
