.main-map__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.main-map__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  text-align: left;
  color: #444444;
}

.main-map__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.main-map__map-img {
  margin: 0 auto;
  height: 400px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-position: center top;
  position: relative;
}

.main-map__anchor {
  position: absolute;
  top: 128px;
  left: 46%;
  transform: translate(10px, 10px);
}

.main-map__wrapper-text {
  display: flex;
}

@media (min-width: @tablet-width) {
  .main-map__title,
  .main-map__text {
    width: 160px;
  }

  .main-map__title {
    font-size: 20px;
  }

  .main-map__text {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .main-map__map-img {
    background: url("../img/bg-map-tablet@1x.png");
  }

  .main-map__wrapper--catalog {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 40px 80px 40px 80px;
    margin-top: 0;
  }

  .main-map__wrapper--background {
    background-color: #f2f2f2;
  }

  .main-map__anchor {
    width: 113px;
    height: 106px;
    left: 31%;
  }

  .main-map__wrapper {
    padding-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-map {
    position: relative;
  }

  .main-map__wrapper {
    position: absolute;
    top: 47px;
    left: 133px;
    z-index: 999;
    background-color: white;
    width: 400px;
    padding: 76px;
  }

  .main-map__anchor {
    width: 113px;
    height: 106px;
    left: 69%;
  }

  .main-map__map-img {
    background: url("../img/bg-map-desktop@1x.png");
  }
}
